<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sequelize Express</h1>
    <p>Edit user now!!</p>
    <%- include('./_form', {template: 'edit', user: user}); %>
  </body>
</html>
